/*
 * See: https://fonts.google.com/license/googlerestricted
 */
/* cyrillic */
@font-face {
  font-family: 'Trajan-Pro';
  src: url(~assets/scss/TrajanPro.woff)
  format('woff');
}

@font-face {
  font-family: 'Univers LT Std';
  src: url(~assets/scss/univers_lt_55_roman-webfont.woff)
  format('woff');
}